body {
  font-family: Arial;
  background-color: MidnightBlue;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
.dropdown-toggle {
  padding-top: 0px;
  border-radius: 5px;
}
.dropdown-item:hover {
  color: navy;
  background-color: royalblue;
  cursor: pointer;
}
.btn {
  background-color: royalblue;
  margin-top: 3px;
  font-size: x-large;
  color: cyan;
}
button {
  background-color: royalblue;
  color: navy;
  padding: 0px;
  border: 0px;
  margin-top: 3px;
}
.panel-heading {
  border: 3px;
  border-radius: 5px;
  margin-top: 5px;
}
.panel-body {
  border: 3px;
  margin: 3px;
}
/* a:link
  {
    color: navy;
    background-color: deepskyblue;
  } */
a:visited,
a:active {
  color: cyan;
}
/* a:hover
  {
    color: lightgreen;
    font-family: Arial;
    background-color:MidnightBlue;
    padding: 0px;
    border: 0px;
    margin: 0px;
  } */
.navbar {
  margin-top: 5px;
  border-radius: 5px;
}
.dropdown-menu {
  background-color: royalblue;
}
.dropdown-item {
  background-color: royalblue;
  color: cyan;
}
.dropdown-item:hover {
  color: navy;
  background-color: royalblue;
  cursor: pointer;
}
li {
  list-style-type: none;
}
