body {
  font-family: Arial;
  background-color: MidnightBlue;
  padding: 0px;
  border: 0px;
  margin-right: 0px;
}
.dropdown-toggle {
  padding-top: 0px;
  border-radius: 5px;
}
.dropdown-item:hover {
  color: navy;
  background-color: royalblue;
  cursor: pointer;
}
.btn {
  background-color: royalblue;
  margin-top: 3px;
  font-size: larger;
  color: cyan;
}
button {
  background-color: royalblue;
  color: navy;
  padding: 0px;
  border: 0px;
  margin-top: 3px;
}
.panel-heading {
  border: 3px;
  border-radius: 5px;
  margin-top: 5px;
}
.panel-body {
  border: 3px;
  margin: 3px;
}
/* a:link
  {
    color: navy;
    background-color: deepskyblue;
  } */
a:visited {
  /* a:active { */
  color: cyan;
}
/* a:hover
  {
    color: lightgreen;
    font-family: Arial;
    background-color:MidnightBlue;
    padding: 0px;
    border: 0px;
    margin: 0px;
  } */
.navbar {
  margin-top: 5px;
  border-radius: 5px;
}
.dropdown-menu {
  margin-right: 50px;
  padding: 0;
  background-color: royalblue;
}
.dropdown-item {
  background-color: royalblue;
  color: cyan;
  font-weight: 100;
  font-size: 8px;
  border: 0px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
.dropdown-item:hover {
  color: navy;
  background-color: royalblue;
  cursor: pointer;
}
li {
  list-style-type: none;
}
.nav-item {
  font-size: small;
  color: cyan;
}
