body
  {
    font-family: Arial;
    background-color:MidnightBlue;
    padding: 0px;
    border: 0px;
    margin: 0px;
  }
.dropdown-toggle
{
  padding-top: 0px;
  border-radius: 5px;
}
.dropdown-item:hover
{
  color: cyan;
  background-color:navy;
  cursor: pointer;
}
.btn
{
  background-color:royalblue;
  margin-top: 3px;
}
button
{
  background-color:royalblue;
  color: cyan;
  padding: 0px;
  border: 0px;
  margin-top: 3px;
}
.panel-heading
{
  border: 3px;
  border-radius: 5px;
  margin-top: 5px;
}
.panel-body
{
  border: 3px;
  margin: 3px;
}
  /* a:link
  {
    color: navy;
    background-color: deepskyblue;
  } */
a:visited, a:active
  {
    color: deepskyblue;
  }
a:hover
  {
    color: lightgreen;
    font-family: Arial;
    background-color:MidnightBlue;
    padding: 0px;
    border: 0px;
    margin: 0px;
  }
.navbar
  {
  margin-top: 5px;
  border-radius: 5px;
  }
.dropdown-menu
  {
    background-color:royalblue;
  }
.dropdown-item
  {
    background-color:royalblue;
    color: cyan;
  }
.dropdown-item:hover
  {
    color: cyan;
    background-color:navy;
    cursor: pointer;
  }
li
{
  list-style-type: none;
}
/* p   Section  Headers */
/* {
  background-color:royalblue;
  color: Cyan;
  font-size: 12pt;
  font-weight: normal;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin: 0px;
} */
/* h1  /*  Section  Headers   */
/* {
  color: Cyan;
  font-size: 12pt;
  font-weight: normal;
  text-align: center;
  text-decoration: underline;
  padding: 5px;
  border-radius: 5px;
  margin: 0px;
} */ */

/* @-webkit-keyframes colorChange
{
  from {background-color: #88F;}
  to {background-color: blue;}
}

@keyframes colorChange
{
  from {background-color: #88F;}
  to {background-color: blue;}
} */

/* #Optum ERP
{
  margin-left: auto;
  margin-right: auto;
} */
